.main {
  height: 85vh;
  background-image:
    linear-gradient(45deg, rgba(32, 6, 1, 0.8), rgba(32, 6, 1, 0.8)),
    url("https://th.bing.com/th/id/OIP.xzkb0KgATRiN0papUrLHGwHaEM?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main > h1 {
  font-size: 62px;
  color: cornsilk;
  /* text-shadow: 0 0 10px black; */
}
.main > p {
  width: 70%;
  margin: 20px auto;
  text-align: center;
  font-style: italic;
  font-size: 21px;
  color: white;
}
